<% @data.keys.each do |query| %>
  <div class="panel panel-default">
    <div class="panel-heading">
      <h3 class="panel-title"><%= query.titleize %></h3>
    </div>
    <div class="panel-body">
      <div class="flex-grid thirds">
        <% @data[query].each do |result| %>
          <%= render "#{query}_panel", result: result %>
        <% end %>
      </div>
    </div>
  </div>
<% end %>
